.about-frame {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: #fff;
    color: #541c1f;
    font-family: 'Arial-Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', Arial, Helvetica, sans-serif;
    margin-top: 3rem;
}
.title {
    letter-spacing: 0.13rem;
    font-size: 2.1rem;
    line-height: 2.7rem;
    font-weight: bold;
    -webkit-transform:scale(1.05, 1.0);
    -moz-transform:scale(1.05, 1.0);
    -ms-transform:scale(1.05, 1.0);
    -o-transform:scale(1.05, 1.0);
    transform:scale(1.05,1.0);
    padding: 0 1rem;
    
    /* text-align: center; */
}
.paragraph-containeer {
    margin: 3rem 3rem 1.9rem 3rem;    

}
.paragraph {
    margin-bottom: 3.5rem;
}
.paragraph:last-child{
    margin-bottom: 0;
}
.paragraph-header {
    color: #541c1f;
    font-size: 1.5rem;
    font-weight: bold;
}
.paragraph-header::after {
    content: "";
    display: block;
    width: 1.7rem;
    height: 0.27rem;
    background-color: #F59795;
    margin: 0.5rem 0;
}
.paragraph-content {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #785E60;
    margin: 1rem 0;
}
.link-text {
    color: #E96D73;   
    font-weight: bold;
    text-decoration: none;
}

.content-list {
    font-size: 1.05rem;   
    line-height: 2.4rem;
    -webkit-transform:scale(1.05, 1.0);
    -moz-transform:scale(1.05, 1.0);
    -ms-transform:scale(1.05, 1.0);
    -o-transform:scale(1.05, 1.0);
    transform:scale(1.05,1.0);
}