.timer-type {
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
}

.timer-type:hover {
    cursor: pointer;
}

.tab__pomo--selected {
    background-color: #CD5955;
    font-weight: bold;
}

.tab__short-break--selected {
    background-color: #4F9497;
}

.tab__long-break--selected {
    background-color: #4F83A9;
}