
.main-container {
    background-color: #F05B56;
}

.main-frame {
    width: 100%;
    max-width: 600px;
    margin: auto;
    color: #fff;
    
}


.main-container__short-break {
    background-color: #4CA6A9;
}
.main-container__long-break {
    background-color: #498FC1;
}