.statistic-bar {
    background-color: #F16965;
    border-radius: 0 0 0.2rem 0.2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 1.5rem;
    border-top: 0.09rem solid #fff;
    font-size: 1.2rem;
    text-align: center; 
    color: #ffffffb3;
}

.bigger-font {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}


.statistic-bar--short-break {
    background-color: #5EAFB2;
}
.statistic-bar--long-break {
    background-color: #5C9AC7;
}